@model iDashNet.Models.GAnalyticsModel

@{
    ViewData["Title"] = "Google Analytics";
}

<!-- Materialize Design Library: http://materializecss.com/ -->
<div class="flex-container" style="margin-top:20px;">
@foreach (GoogleAnalyticsApp app in Model.gaApps)
{
    <div class="card-container" style="margin-top:20px;">
    
            <div class="card">
                <div class="card-content white-text">
                    <span class="card-title">@app.Name</span>
                    <p>
                        <b>Unique Page Views</b>: @app.uniquePageViews

                    </p>

                    <p>
                        <b>Avg Time on Page</b>: @app.avgTimeOnPage
                    </p>

                    <p>
                        <b>Page Load Time</b>: @app.pageLoadTime
                    </p>


                    <p>
                        <b>Average Page Load Time</b>: @app.avgPageLoadTime
                    </p>

                    <p>
                        <b>Average Page Download Time</b>: @app.avgPageDownloadTime
                    </p>


                </div>
                <div class="card-action" style="background-color:#0C4569">
                    @*<a href="@app.SonarUrl">@app.Name</a>*@
                </div>
            </div>
        </div>

}
    </div>
